*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    display: flex;
}

header,footer{
    border: 1px solid;
    background: lightgray;
}

header{
    display: flex;
    height: 200px
}